@font-face {
  font-family: "Gidole-reg";
  src: url("assets/Gidole-Regular.ttf");
}

html, body {
  margin: 0;
  height: 100%;
}

a {
  font-family: "Gidole-reg";
  font-size: 15px;
}

h1 {
  font-family: "Gidole-reg";
}

h2 {
  font-family: "Gidole-reg";
}

h3 {
  font-family: "Gidole-reg";
}

p {
  font-family: "Gidole-reg";
  text-align: center;
}


nav {
/*  background:rgba(255,255,255,0.5);*/
  margin: 0 auto;
  height: 10%;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -10%;
}

.navoptions {
  padding-top: 1.5%;
}

#video {
  margin-top: 5%;
  height: 100%;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
  background-image: url(assets/img1.png);
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.btn .btn-warning {
  padding: 0;
  border: none;
  background: none;
}

#bs-example-navbar-collapse-1 {
  background-color: #f8f8f8;
}

#locations p {
  font-weight: bold;
}


.thumbnail {
  width: 100%;
  padding: 0;
  margin: 0;
}

.thumbnail ul {
  list-style: none;
}

.thumbnail ul li {
  font-size: 30px;
  font-size: 2%;
}

.thumbnail img {
  padding: 0;
  width: 100%;
  margin: 0;
}

.thumbnail h1 {
  text-align: center;
}

.caption {
  background-color: black;
}

.caption h3 {
  color: white;
}
.imagethumbnail {
  margin-bottom: 5%;
}

.imagethumbnail img {
  display: block;
  margin: 0 auto;
}

#infobox h3 {
  text-align: center;
  font-weight: bold;
  font-family: impact;
}

#infotitle h1 {
  text-align: center;
}

#steps {
  height: 150%;
  width: 100%;
  background-color: rgba(239, 95, 43, 0.1);
}

#steps h3 {
  font-family: impact;
}

#steps2 {
  height: 150%;
  width: 100%;
  background-color: rgba(239, 95, 43, 0.1);
}

#steps2 img {
  padding-top: 10%;
}

.step {
  color: rgb(239, 95, 43);
  font-family: impact;
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

#step {
  color: rgb(239, 95, 43);
  font-family: impact;
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

#phototitle h1 {
  font-family: impact;
  text-align: center;
}

#samplephoto {
  text-align: center;
}

.upload {
  background-color: gray;
}

#footer {
  width: 100%;
  background-color: #000000;
  clear: both;
  overflow: hidden;
}
.footertext {
  height: 10%;
  text-align: center;
}