@font-face {
  font-family: "Gidole-reg";
  src: url("assets/Gidole-Regular.ttf");
}

html, body {
  margin: 0;
  height: 100%;
}

a {
  font-family: "Gidole-reg";
  font-size: 15px;
}

h1 {
  font-family: "Gidole-reg";
}

h2 {
  font-family: "Gidole-reg";
}

h3 {
  font-family: "Gidole-reg";
}

p {
  font-family: "Gidole-reg";
}


nav {
/*  background:rgba(255,255,255,0.5);*/
  margin: 0 auto;
  height: 10%;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -10%;
}

.navoptions {
  padding-top: 1.5%;
}

#video {
  margin-top: 5%;
  height: 33vw;
  width: 100%;
  text-align: center;
  background-image: url(assets/img1.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.btn .btn-warning {
  padding: 0;
  border: none;
  background: none;
}

.thumbnail ul {
  list-style: none;
}

.thumbnail ul li {
  font-size: 30px;
  font-size: 2%;
}

.thumbnail h1 {
  text-align: center;
}

.imagethumbnail h1 {
  text-align: center;
}

.imagethumbnail img {
  display: block;
  margin: 0 auto;
}

#infotitle h1 {
  text-align: center;
}

#steps {
  height: 150%;
  width: 100%;
  background-color: rgba(239, 95, 43, 0.1);
}

#step {
  color: rgb(239, 95, 43);
  border-right: 2px solid rgb(239, 95, 43);
  font-family: impact;
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

#phototitle h1 {
  text-align: center;
}

#samplephoto {
  text-align: center;
}

.upload {
  background-color: gray;
}

#footer {
  width: 100%;
  background-color: rgba(128,128,128,1);
  clear: both;
  overflow: hidden;
}
.footertext {
  height: 10%;
  text-align: center;
}