@font-face {
  font-family: "Gidole-reg";
  src: url("assets/Gidole-Regular.ttf");
}

html, body {
  margin: 0;
  height: 100%;
}

a {
  font-family: "Gidole-reg";
  font-size: 15px;
}

h1 {
  font-family: "Gidole-reg";
}

h2 {
  font-family: "Gidole-reg";
}

h3 {
  font-family: "Gidole-reg";
}

p {
  font-family: "Gidole-reg";
  text-align: center;
}


nav {
  margin: 0;
  width: 100%;
  min-height: 10%;
  margin-bottom: 0 !important; 

}

.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9) !important;

}

#bs-example-navbar-collapse-1 {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

#navheader {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}

.navbar-header {
  margin-bottom: 0;
}

.navoptions{
  padding-top: 2%;
}

.navbar-right {
  padding-right: 2%;
}

.wrapper {
  min-height: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9) !important;
  margin-top: 0;
}

#logo {
  height: 5vw;
  margin-left: 5%;
}

#video {
  height: 100%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  background-image: url(assets/img1copy.png);
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-transform: uppercase;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#video p {
  width: 80%;
  font-family: impact;
  font-size: 300%;
  padding: 1%;
  margin: 0 auto;
}

#mobileonlytext {
  font-family: impact;
  text-align: center;
  color: rgb(239, 95, 43);
}

#mobileonlytext a {
  font-family: impact;
}

#mobileonlytext h1 {
  font-size: 130%;
  color: #333;
}

.btn .btn-warning {
  padding: 0;
  border: none;
  background: none;
}

#locations p {
  font-weight: bold;
}

#samplephoto .col-md-4 {
  padding: 0;
  overflow: hidden;
}

.thumbnail {
  margin-left: auto;
  margin-right: auto;
}


#forminfo {
  font-family: "Gidole-reg";
  margin-bottom: 3%;
}

#title {
  margin-bottom: 5%;
}

.thumbnail ul {
  list-style: none;
}

.thumbnail ul li {
  font-size: 30px;
  font-size: 2%;
}

.imagethumbnail {
  margin: 4%;
}

#infotitle {
  padding-top: 5%;
  width: 100%;
}

#infobox {
  width: 75%;
  margin: 0 auto;
}

.thumbnail h1 {
  text-align: center;
}

.caption {
  text-align: center;
  margin-bottom: 10%;
}

.thumbnail .upload {
  color: rgba(239, 95, 43, 0.1);
}

.caption h3 {
  color: #EF5F2B;
}

.caption label {
  width: 75%;
}

.imagethumbnail {
  margin-bottom: 5%;
}

.imagethumbnail img {
  display: block;
  margin: 0 auto;
}

#infobox h3 {
  text-align: center;
  font-weight: bold;
  font-family: impact;
}

#infotitle h1 {
  text-align: center;
}

.infosteps {
  color: rgb(239, 95, 43);
  font-family: impact;
  text-align: center;
}

#title {
  margin-left: 1%;
}

#title2 {
  padding-top: 5%;
  margin-left: 1%;
}

#title3 {
  margin-left: 1%;
}

#title4 {
  margin-left: 1%;
  margin-top: 5%;
}

#steps {
  height: 150%;
  width: 100%;
  background-color: rgba(239, 95, 43, 0.1);
  padding-top: 5%;
}

#steps h3 {
  font-family: impact;
  font-size: 150%;
}

#steps h2 {
  font-family: impact;
  border-left: solid 3px #EF5F2B;
  padding-left: 3%;
  font-size: 2vw;
  margin-left: 4%;
}

#step3text h2 {
  font-family: impact;
  border-left: solid 3px #EF5F2B;
  padding-left: 3%;
  font-size: 2vw;
  margin-left: 4%;
}

#step4text h2 {
  font-family: impact;
  border-left: solid 3px #EF5F2B;
  padding-left: 3%;
  font-size: 2vw;
  margin-left: 4%;
}

#steps2 {
  height: 150%;
  width: 100%;
  background-color: rgba(239, 95, 43, 0.1);
}

#steps2 img {
  padding-top: 10%;
}

#steps3 {
  width: 75%;
  margin: 0 auto
}

#steps3 h2 {
  border-left: 0px;
  text-align: center;
  background-color: white;
  padding: 10%;
}

#steps4 {
  width: 75%;
  margin: 0 auto;
  padding-bottom:5%;
}

#steps4 h2 {
  border-left: 0px;
  text-align: center;
  background-color: white;
  padding: 10%;
}

#steps3 h1 {
  text-align: center;
  font-family: impact;
}

#steps4 h1 {
  text-align: center;
  font-family: impact;
}

.step {
  color: rgb(239, 95, 43);
  font-family: impact;
  display: inline-block;
  text-align: center;
  margin: 0;
}

#stepimage img {
  margin-right: 10%;
  height: 9vw;
}

#phototitle h1 {
  font-family: impact;
  text-align: center;
  color:rgb(128, 128, 128);
}

#samplephoto {
  text-align: center;
  margin-bottom: 5%;
}

.caption {
  overflow: hidden;
}

#photoupload h3 {
  text-align: center;
}

.upload {
  background-color: gray;
}

#form {
  color: #EF5F2B;
  font-family: impact;
  font-size: 150%;
  overflow: hidden;
}

.col-xs-10 {
  margin: 0;
}

#tehbutton {
  width: 25%;
  margin: 0 auto;
  margin-bottom: 5%;
}

#submit {
  width: 100%;
  font-size: 120%;
  border-radius: 15px;
  margin-top: 10%;
  margin-bottom: 1%;
  font-family: impact;
}

label text {;
  border: 1px solid #EF5F2B;
}

#footer {
  width: 100%;
  background-color: #000000;
  clear: both;
  overflow: hidden;
  color: white;
  font-size: 150%;
  text-align: center;
  font-family: impact;
}

.footertext {
  font-size: 100%;
}

#footer h3 {
  font-size: 75%;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  nav { height: 15vw; }  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #desktoptext { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 451px) and (max-width: 2000px) {
  #desktoptext { display: block; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #mobiletext { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 451px) and (max-width: 2000px) {
  #mobiletext { display: none; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #mobileonlytext { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 451px) and (max-width: 2000px) {
  #mobileonlytext { display: none; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #samplephoto img { height: 75vw; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #video h1 { font-size: 150%; margin-top: 10%; width: 100% }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #video { padding-top: 20%; padding-bottom: 15% }  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #stepimage img { height: 25vw; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #steps h2 { font-size: 5vw; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #steps3 h1 { font-size: 5vw; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #steps3 h2 { font-size: 5vw; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #steps3 { font-size: 5vw; width: 100%; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #steps4 { font-size: 5vw; width: 100%; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #steps4 h1 { font-size: 5vw; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .imagethumbnail { margin: 0; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #logo { height: 15vw; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  #video p { padding-top:5%; width:100%; font-size: 150%; }   /* hide it elsewhere */
}

.slider {
  height: 40%;
  margin-bottom: -2%;
}

.slider img {
  width: 100%;
  position: relative;
}

.slider h1 {
  bottom: 66%;
  position: absolute;
  left: 13%;
  color: white;
  text-decoration: underline;
}

#ojtitle {
  margin-top: 0;
  height: 20%;
  text-align: center;
  background-color: orange;
  font-family: "Gidole-reg";
  color: white;
  padding: 5%;
}

#descriptivetext {
  padding: 10%;
  text-align: center;
  font-family: "Gidole-reg";
}

#descriptivetext h1 {
  margin-top: 10%;
  margin-bottom: -10%;
}

#map {
  height: 50%;
}

#map img {
  width: 100%;
}

#descriptivetext2 h2 {
  padding: 10%;
  text-align: center;
  font-family: "Gidole-reg";
}

#ojtitle2 {
  margin-top: 0;
  height: 20%;
  text-align: center;
  background-color: orange;
  font-family: "Gidole-reg";
  color: white;
  padding: 5%;
}

#descriptivetext3 {
  font-family: "Gidole-reg";
  padding: 5%;
}

#descriptivetext3 h1 {
  color: orange;
}

#quotes {
  height: 100%;
  margin-bottom: 10%;
  font-family: "Gidole-reg";
  position: relative;
}

#quotes img {
  width: 100%;

}

#quotes h2 {
  text-align: center;
  position: absolute;
  left: 41%;
  bottom: 5%;
}

